<div>
    <h1><%= @park.name %></h1>
</div>

<div>
    <p><%= @park.description %></p>
</div>

<% if false %>

<%= turbo_frame_tag "park_details" do %>
    <div>
        <h1><%= @park.name %></h1>
    </div>

    <div>
        <p><%= @park.description %></p>
    </div>
<% end %>

<% end %>